<%- include('partials/header'); %>
  <body>
    <%- include ('partials/navbar'); %> 
    <div class="container">
     <h1>Perguntas sobre a Vida Verdade e Universo</h1>
    </div>




    
    
</body>
<%- include ('partials/footer'); %> 